body {
    background-color: #f4e8ff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #af4c74;
    color: rgb(238, 230, 240);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 10px 0;
    text-align: center;
}

nav {
    background-color: #7ddbcb;
    color: white;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    text-rendering: 10px;
}

section {
    background-color: #e0f7fa;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 2px;
    width: 74%;
    float:left;
    border: #af4c74 solid 2px;
}

.head {
    background-color: #85da8b;
    padding: 20px;
    margin-bottom: 20px;
    border: #af4c74 solid 2px;
}

article {
    background-color: #ffeccf;
    padding: 20px;
    margin-bottom: 20px;
   
    border: #af4c74 solid 2px;
    color: #000000;

}

aside {
    background-color: #ffeccf;
    padding: 15px;
    border: 5px solid #ddade9;
    margin-bottom: 20px;
    margin-left: 2px;
    width: 20%;
    float: right;
}

footer {
    background-color: #7ddbcb;
    color: white;
    text-align: center;
    padding: 10px 0;
    clear: both;
    margin-top: 20px;
}